
.icon-phone:before { content: '\e800'; } /* '' */
.icon-location-alt:before { content: '\e801'; } /* '' */
.icon-flattr:before { content: '\e803'; } /* '' */
.icon-down:before { content: '\e804'; } /* '' */
.icon-menu:before { content: '\f008'; } /* '' */
.icon-globe-inv:before { content: '\f019'; } /* '' */
.icon-github-circled:before { content: '\f09b'; } /* '' */
.icon-mail-alt:before { content: '\f0e0'; } /* '' */
.icon-instagram-1:before { content: '\f16d'; } /* '' */
.icon-wordpress:before { content: '\f19a'; } /* '' */
.icon-paper-plane:before { content: '\f1d8'; } /* '' */
.icon-facebook:before { content: '\f300'; } /* '' */
.icon-twitter-bird:before { content: '\f303'; } /* '' */
.icon-linkedin-1:before { content: '\f31a'; } /* '' */
